@{
  Layout = "_Layout";
}

    <div class='container'>
        <h1>Add Cuisine</h1>
        <form action='/cuisines' method='POST'>
            <div class='form-group'>
                <label for='name'><h4>Type</h4></label>
                <input type='text' name='name' class='form-control' required>
            </div>
            <button type='submit' class='btn btn-lg btn-default'>Create Cuisine</button>
        </form>
    </div>
