@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>Reviews</h1>
    <div class='top-button-box'>
        <a href='/reviews/new' class='btn btn-lg btn-info'>
            <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
            Add Review
        </a>
    </div>
    @foreach (var review in Model)
    {
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h2>@review.GetRestaurant().Name</h2>
                <h4>@review.Rating star review by <a href='/reviews/@review.Id'>@review.ReviewerName</a></h4>
            </div>
        </div>
    }
</div>
