@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>Restaurants</h1>
    <div class='top-button-box'>
        <a href='/restaurants/new' class='btn btn-lg btn-info'>
            <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
            Add Restuarant
        </a>
    </div>
    @foreach (var restaurant in Model)
    {
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h2><a href='/restaurants/@restaurant.Id'>@restaurant.Name</a></h2>
            </div>
        </div>
    }
</div>
